<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <link rel="icon" href="/public/images/favicon.ico" />
  </head>
  <body>
    <center>
      <table
        bgcolor="#dcdde1"
        border="1"
        cellspacing="1"
        cellpadding="16"
        width="64%"
      >
        <caption></caption>
        <tr>
          <th>
            <font size="6" color="blue"
              >Central Board of Secondary Education</font
            >
          </th>
        </tr>
        <tr>
          <th>
            <img
              src="https://upload.wikimedia.org/wikipedia/en/9/95/CBSE_new_logo.svg"
              alt="CBSE LOGO"
              width="12%"
            />
          </th>
        </tr>
        <tr>
          <td>
            <b>Roll No.</b> : <%= rollno %><br />
            <b>Name : </b><%= name %> <%= slt %> Shri <%= fn %><br />
            <b>Gender : </b><%= gen %><br />
            <b>School Name : </b><%= sn %>
          </td>
        </tr>
      </table>
      <table
        bgcolor="aliceblue"
        border="1"
        cellspacing="1"
        cellpadding="16"
        width="64%"
      >
        <tr>
          <th>Subject</th>
          <th>Minimum Marks</th>
          <th>Maximum Marks</th>
          <th>Obtained Marks</th>
          <th>Grade</th>
        </tr>
        <tr>
          <td>
            <b>Physics</b><br />
            <b>Chemistry</b><br />
            <b>Mathematics</b><br />
            <b>Hindi</b><br />
            <b>English</b><br />
          </td>
          <td>
            33<br />
            33<br />
            33<br />
            33<br />
            33
          </td>
          <td>
            100<br />
            100<br />
            100<br />
            100<br />
            100
          </td>
          <td>
            <%= sub1 %><br />
            <%= sub2 %><br />
            <%= sub3 %><br />
            <%= sub4 %><br />
            <%= sub5 %>
          </td>
          <td>
            <%= prem %><br />
            <%= crem %><br />
            <%= mrem %><br />
            <%= hrem %><br />
            <%= erem %>
          </td>
        </tr>
      </table>
      <table
        bgcolor="#81ecec"
        border="1"
        cellspacing="1"
        cellpadding="24"
        width="64%"
      >
        <center>
          <td>
            <b>
              Total Marks : 500<br />
              Obtained Marks : <%= total %>/500
            </b>
            <br />
            <b>Grade : <%= grade %></b><br />
            <b>Percentage : <%= per %> %</b><br />
            <b>Remark : <%= compartment %></b>
          </td>
        </center>
      </table>
    </center>
  </body>
</html>
